body {
    margin: 0;
}

.parallax-container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.slide1 {
    background-image: url(./world.jpg);
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide2 {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide3 {
    background-image: url(./maison);
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 40px;
    text-align: center;
}
